.txt-cl-light{
  color: azure;
  font-size: 25px;
  padding-top: 5px;
}
.conteiner{
  margin-top: 200px;
}
.scoreboard{
  margin: 10px;
  width: 25%;
  text-align: center;
  border-radius:5px ;
}
#scored-1{
  border: 1px solid #0eeff7;
  box-shadow: 0 0 1em #0eeff7;
}
#scored-2{
  border: 1px solid #0ef777 ;
  box-shadow: 0 0 1em #0ef777;
}
.game-board{
margin: 10px;
}
.card{
  height: 100px;
  margin: 5px;
  cursor: pointer;
}
.card.p1{
  border: 1px solid #0eeff7;
  box-shadow: 0 0 1em #0eeff7;
}
.card.p2{
  border: 1px solid #0ef777 ;
  box-shadow: 0 0 1em #0ef777;
}
img{
  height: 90px;
  margin-top: 5px;
  text-decoration: none;
}
.card-mini{
  height: 50px;
}
.card-mini img{
  height: 45px;
}
.modal.show{
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 82vh;
  width: 100vw;
  display: inline-block;
  justify-content: center;
  position: absolute;
  transition: 0.8s;
  visibility: visible;
  top: 12%;
}
.modal{
  visibility: hidden;
}
.dialog{
  margin-top: 15%;
}
.text{
 color: black; 
 text-align: center;
}
#bt_start{
  cursor: pointer;
  width: 200px;
  margin-top: 5px;
  margin-left: 42.5%;
}